.popup__heading {
  margin: 0 0 44px 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #000;
}

@media (max-width: 386px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
