.popup__exit-btn {
  cursor: pointer;
  border: none;
  width: 32px;
  height: 32px;
  background: center / cover url('../../../images/icons/Close-Icon.svg');
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity .5s ease;
}

.popup__exit-btn:hover {
  opacity: .6;
}

@media (max-width: 720px) {
  .popup__exit-btn {
    width: 25px;
    height: 25px;
    right: 0;
  }
}

@media (max-width: 386px) {
  .popup__exit-btn {
    width: 20px;
    height: 20px;
    top: -36px;
  }
}
