.footer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 66px 0 60px 0;
  flex-shrink: 0;
}

@media (max-width: 956px) {
  .footer {
    max-width: calc(100% - 80px);
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: calc(100% - 38px);
    padding: 50px 0 36px 0;
  }
}
