.auth-page__input {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  margin-bottom: 30px;
  color: rgba(204, 204, 204, 1);
  font-size: 14px;
  padding-bottom: 13px;
}
