.popup__safe-btn {
  margin-top: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color .5s ease;
}

.popup__safe-btn:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media (max-width: 386px) {
  .popup__safe-btn {
    height: 46px;
    font-size: 14px;
    line-height: 17px;

  }
}
