.gallery__like-btn {
  padding: 0;
  width: 22px;
  height: 19px;
  background-color: transparent;
  background: center / contain no-repeat url('../../../images/icons/like.svg');
  border: none;
  cursor: pointer;
  transition: opacity .5s ease;
  box-sizing: border-box;
}

.gallery__like-btn:hover {
  opacity: .5;

}
