.header {
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 41px 0;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 885px){
  .header {
    padding-left: 27px;
  }
}

@media (max-width: 680px){
  .header {
    padding-top: 35px;
  }
}

@media (max-width: 320px) {
  .header{
    padding-top: 28px;
    padding-bottom: 31px;
    min-height: 84px;
  }

}
